body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(218, 218, 218);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #F4F6F8;
  fill: #343A40;
}

button:hover {
  background-color: #e8ebee;
}